.homepage-container {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    background-color: #0a0f24;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
  }  
  
  .nav-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-login {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav-login:hover {
    color: #6c6c6c;
  }
  
  .game-scroll-section {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0 1rem;
  }
  
  .scroll-btn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1rem;
  }
  
  .game-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem 0;
  }
  
  .game-card {
    min-width: 500px;
    height: 250px;
    background-color: #1e1e2f;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    flex-shrink: 0;
    color: white;
    font-family: 'Segoe UI', sans-serif;
  }
  

  .game-thumbnail {
    height: 200px;
    background-color: #2d2d44;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
  }
  
  .game-thumbnail:hover {
    background-color: #4c6ef5;
  }
  